@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body {
  margin: 0; 
  font-family: 'Noto Sans', sans-serif;
}

body * {
  box-sizing: border-box;
}

.cabecalho {
  width: 100vw;
  background: #2F2841;
  display: flex;
  justify-content: space-between;
}

.left-cabecalho {
  padding: 10px;
  display: flex;
  align-self: center;
}

.left-cabecalho > button {
  background: transparent;
  cursor: pointer;
  width: 50px;
  cursor: pointer;
  border: none;
}

.left-cabecalho > button > img {
  width: 100%;
}

.right-cabecalho {
  color: #F0FFFF;
  display: flex;
  justify-content: space-around;
  width: 450px;
  align-items: center;
}

.right-cabecalho > a {
  cursor: pointer;
}

.center-cabecalho {
  color: #00ff88;
  font-size: 30px;
  font-weight: 800; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-tela-inicial {
  background: #201B2C;
  width: 100vw;
  height: 91.2vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-perfil {
  background: #2F2841;
  width: 30%;
  height: 400px;
  border-radius: 20px;

}